.files input {
  outline: 2px dashed #f06c79;
  outline-offset: -10px;
  -webkit-transition: outline-offset 0.15s ease-in-out,
    background-color 0.15s linear;
  transition: outline-offset 0.15s ease-in-out, background-color 0.15s linear;
  padding: 120px 0px 85px 35%;
  text-align: center !important;
  margin: 0;
  width: 100% !important;
}
.files input:focus {
  outline: 2px dashed #92b0b3;
  outline-offset: -10px;
  -webkit-transition: outline-offset 0.15s ease-in-out,
    background-color 0.15s linear;
  transition: outline-offset 0.15s ease-in-out, background-color 0.15s linear;
  border: 1px solid #92b0b3;
}
.files {
  position: relative;
}
.files:after {
  pointer-events: none;
  position: absolute;
  top: 80px;
  left: 0;
  width: 50px;
  right: 0;
  height: 56px;
  content: "";
  background-image: url(./ressources/iconmonstr-upload-thin.svg);
  display: block;
  margin: 0 auto;
  background-size: 100%;
  background-repeat: no-repeat;
}
.color input {
  background-color: #f1f1f1;
}
.files:before {
  position: absolute;
  bottom: 10px;
  left: 0;
  pointer-events: none;
  width: 100%;
  right: 0;
  height: 57px;
  content: " or drag it here. ";
  display: block;
  margin: 0 auto;
  color: #f06c79;
  font-weight: 600;
  text-transform: capitalize;
  text-align: center;
}

.upload-title {
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: x-large;
}

.upload-button {
  color: rgba(255, 237, 188, 1);
  background-color: #ee6c7a;
  border-color: #ed4364;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.upload-button:disabled {
  background-color: rgba(255, 255, 255, 0);
  border-color: #ed4364;
  color: rgba(255, 255, 255, 0.5);
}

.upload-button:disabled:hover {
  color: rgba(255, 255, 255, 0.5);
}
